# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node (hvis du legger til verktøy senere)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Miljøvariabler
.env
.env.local
